.headercontainer {
    background-color: #7A7A7A;
    width: 95vw;
    height: 11vh;
    display: flex;
    flex-direction: row;
    background-color: black;
}
.hyperlink-class-header{
    color: white;
    font-weight: normal;
    font-size: medium;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif    ;
    text-decoration: none;
}
.hyperlink-class-Logo{
    font-size: x-large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: normal;
    text-decoration: none;
    width: 3vw;
    height: 3vw;
}
.Options-Container {
    width: 50%;
    display: flex;
    flex-direction: row;
    padding: 22px;
    margin-left: 39vw;
    padding-top: 40px;
}
body {
    padding: 0;
    margin-top: 0;
    margin-left: 35px;
    margin-right: 200px;
    margin-bottom: 0px;
}
.Logo {
    font-size: x-large;
    font-family: Arial;
    margin-left: 80px;
    color: white;
    width: 20%;
    font-weight: normal;
    padding-top: 10px;
}
.Headeroptions {
    font-size: medium;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 28px;
    margin-left: 12px;
    color: white;
    font-weight: normal;
}
.Capa-container{
    background-color:#E5E5E5;
    width: 95vw;
    height: 28vw;
    display: flex;
    flex-direction: row;
    
}
.Kappa{
    width: 100%;
    text-align: center;
    padding-top: 12%;
    font-family: Arial;
}
.Files {
    color: black;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 8px;
    padding-left: 77px;
}
.Row-display-container {
    display: flex;
    flex-direction: row;
    width: 94%;
    height: 16vw;
    padding-left: 139px;
    padding-top: 37px;
}
.Columns-display-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 15vw;
    margin-left: 0px;
}
.Insider-column-divs {
    width: 80%;
    height: 15vw;
    background-color: #E5E5E5;
    border: none;
    cursor: pointer;
}
.Insider-caracter {
    font-family: Arial;
    color: #929292;
    width: 100%;
    height: auto;
    padding-left: 60px;
    padding-top: 20px;
}
.About {
    color:black;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
    font-weight: bold;
    font-family: Arial;
    padding-top: 30px;
    padding-left: 77px;
    margin-bottom: 41px;
}
.Row-display-container-img {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 56vw;
    padding-top: 0px;
    padding-left: 88px;
}

.img-column {
    column-width: 200px;
    height: 56vw;
    background-color: #E5E5E5;
    column-gap: 50px;
    column-rule: 116px;
    border-right: 25vw;
}
.text-container {
    display: flex;
    flex-direction: row;
    height: 10vw;
    width: 48vw;
    padding-left: 94px;
    font-style: normal;
    font-family: Arial;
    text-align: center;
    color: #7A7A7A;
    line-height: 24px;
    opacity: 0.9;
    font-weight: normal;
}

.img-column-text {
    opacity: 0.2;
    font-family: Arial;
    font-weight: normal;
    text-align: center;
    padding-top: 27vw;
}
.Contact {
    width: 200px;
    height: 3vw;
    padding-top: 209px;
    position: absolute;
    padding-left: 523px;
    justify-content: center;
    font-size: xx-large;
    font-family: Arial;
    color: black;
    font-weight: bold;
}
.field-contact {
    width: 50%;
    height: 37vw;
    padding-top: 258px;
    position: absolute;
    padding-left: 329px;
    display: flex;
    flex-direction: column;
}
.field-contact-container {
    width: 74%;
    height: 53px;
    padding-left: 12px;
    background-color: #E5E5E5;
    margin-top: 12px;
    border: none;
    font-family: Arial;
    color: #7A7A7A;
    font-style: italic;
    font-weight: normal;
    opacity: 0.8;
}
.insider-field {
    width: 200px;
    height: 2vw;
    padding-top: 17px;
    padding-right: 154px;
    font-size: normal;
    font-family: Arial;
    color: #7A7A7A;
    font-style: italic;
    font-weight: normal;
    opacity: 0.8;
}
.type-message {
    width: 81%;
    height: 11vw;
    margin-top: 12px;
    border-color: black;
    border-style: none;
    border-width: 1px;
}
.insider-type-message {
    width: 88%;
    height: 92%;
    padding-top: 10px;
    padding-left: 13px;
    font-size: normal;
    font-family: Arial;
    color: #7A7A7A;
    font-style: italic;
    font-weight: normal;
    opacity: 0.8;
    padding-right: 13px;
}
.Send-container {
    width: 21%;
    height: 4vw;
    padding-left: 31vw;
    margin-top: 9px;
}
.send {
    width: 61%;
    height: 3vw;
    background-color: #7A7A7A;
    border-radius: 5px;
    background-color: #BE1D2C;
}
.insider-send {
    font-family: Arial;
    width: 100%;
    color: white;
    height: 100%;
    padding-left: 20px;
    padding-top: 16px;
    font-size: smaller;
}
.Footer-container {
    padding-left: 0px;
    display: flex;
    padding-top: 0px;
    flex-direction: row;
    width: 111%;
    height: 6vw;
    background-color;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.insider-footer {
    width: 63%;
    padding-top: 3vw;
    height: 1vw;
    font-size: x-small;
    color: white;
    font-family: Arial;
    padding-left: 87px;
    opacity: 0.7;
}
.square-container {
    height: auto;
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin-left: -15vw;
    padding-top: 33px;
    padding-left: 0vw;
}
.square {
    width: 10%;
    height: 2vw;
    background-color: #BE1D2C;
    margin-left: 26vw;
    border-radius: 6px;
}

/*img*/
.bannerhome{
    background-image: url("img/banner-home.jpg");
    background-size: cover;
}
.anos80{
    background-image: url("img/capa-80s.jpg");
    background-size: cover;
}
.anos90{
    background-image: url("img/capa-90s.jpg");
    background-size: cover;
}
.anos2000{
    background-image: url("img/capa-00s.jpg");
    background-size: cover;
}
.anos2010{
    background-image: url("img/capa-10s.jpg");
    background-size: cover;
}
.anos2020{
    background-image: url("img/capa-20s.jpg");
    background-size: cover;
}
.bannerlateral1{
    background-image: url("img/banner-lateral-1.jpg");
    background-size: cover;
}
.bannerlateral2{
    background-image: url("img/banner-lateral-2.jpg");
    background-size: cover;
}
.redesociaisicon{
    background-image: url("img/redes-04.jpg");
    background-size: cover;
}
.redesociaisicon2{
    background-image: url("img/redes-02.jpg");
    background-size: cover;
}
.redesociaisicon3{
    background-image: url("img/redes-03.jpg");
    background-size: cover;
}
.redesociaisicon4{
    background-image: url("img/redes-00.jpg");
    background-size: cover;
}
/*PAGINA 2*/

.Files-PG2 {
    color: #7A7A7A;
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 54%;
    margin-top: 0px;
    font-weight: normal;
    font-family: Arial;
    padding-top: 29px;
    padding-left: 37px;
}
.Files-arquivoX {
    color: #7A7A7A;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 49%;
    margin-top: 0px;
    font-weight: normal;
    font-family: Arial;
    padding-top: 0px;
    padding-left: 50px;
    font-weight: bold;
}
.Files-display-container {
    height: 9vw;
    width: 21%;
    display: flex;
    flex-direction: column;
    padding-top: 23px;
}
.Footer-container2 {
    padding-left: 0px;
    display: flex;
    padding-top: 0px;
    flex-direction: row;
    width: 114%;
    height: 6vw;
    background-color: black;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.Row-display-container2 {
    display: flex;
    flex-direction: row;
    width: 97%;
    height: 15vw;
    padding-left: 16vw;
    padding-top: 37px;
    padding-bottom: 43px;
}

/*IMG*/

.banner90s{
    background-image: url("img/capa-arquivos-anos-90.jpg");
    background-size: cover;
}
.musicaicone{
    background-image: url("img/musica.jpg");
    background-size: cover;
}
.galeriaicone{
    background-image: url("img/galeria.jpg");
    background-size: cover;
}
.artistaicone{
    background-image: url("img/artista.jpg");
    background-size: cover;
}
.materiaicone{
    background-image: url("img/materia.jpg");
    background-size: cover;
}
/*PAGINA 3*/

.headercontainer3{
    background-color: #7A7A7A;
    width: 95vw;
    height: 11vh;
    display: flex;
    flex-direction: row;
    position: fixed;
    top:0;
    background-color: black;
}
.Row-display-container3 {
    display: flex;
    width: 72%;
    height: -1vw;
    padding-left: 53px;
    padding-top: 89px;
    padding-bottom: 0px;

}
.Files-display-container3 {
    height: 5vw;
    width: 45%;
    display: flex;
    flex-direction: row;
    padding-top: 0px;
}
.Files-PG3 {
    color: #C22A39;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    margin-top: 0px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 29px;
    padding-left: 37px;
    height: 3vw;
}
.Files-arquivoX3 {
    color: black;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    margin-top: 0px;
    font-weight: normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 29px;
    padding-left: 0px;
    font-weight: bold;
    height: 3vw;
}
.Row-display-container-img3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 71vw;
    padding-top: 0px;
}
.Columns-display-containerBOSS3 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 14vw;
    padding-left: 85px;
    padding-top: 3px;
}
.Columns-display-container3 {
    display: flex;
    flex-direction: column;
    width: 13vw;
    height: 13vw;
    padding-top: 0px;
    margin-left: 16px;
    margin-right: 0xp;
}
.Insider-column-divs3 {
    width: 100%;
    height: 20vw;
    background-color: #E5E5E5;
    border: none;
    cursor: pointer;
}
.Footer-container3 {
    padding-left: 0px;
    display: flex;
    padding-top: 0px;
    flex-direction: row;
    width: 96%;
    height: 6vw;
    background-color: grey;
    padding-bottom: 0px;
    position: fixed;
    margin-bottom: 0px;
    bottom: 0;
    background-color: black;
}
/*IMG*/
.foto1{
    background-image: url("img/1.jpg");
    background-size: cover;
}
.foto2{
    background-image: url("img/2.jpg");
    background-size: cover;
}
.foto3{
    background-image: url("img/3.jpg");
    background-size: cover;
}
.foto4{
    background-image: url("img/4.jpg");
    background-size: cover;
}
.foto5{
    background-image: url("img/5.jpg");
    background-size: cover;
}
.foto6{
    background-image: url("img/6.jpg");
    background-size: cover;
}
.foto7{
    background-image: url("img/7.jpg");
    background-size: cover;
}
.foto8{
    background-image: url("img/8.jpg");
    background-size: cover;
}
.foto9{
    background-image: url("img/9.jpg");
    background-size: cover;
}
.foto10{
    background-image: url("img/10.jpg");
    background-size: cover;
}
.foto11{
    background-image: url("img/11.jpg");
    background-size: cover;
}
.foto12{
    background-image: url("img/12.jpg");
    background-size: cover;
}
.foto13{
    background-image: url("img/13.jpg");
    background-size: cover;
}.foto14{
    background-image: url("img/14.jpg");
    background-size: cover;
}.foto15{
    background-image: url("img/15.jpg");
    background-size: cover;
}.foto16{
    background-image: url("img/16.jpg");
    background-size: cover;
}.foto17{
    background-image: url("img/17.jpg");
    background-size: cover;
}.foto18{
    background-image: url("img/18.jpg");
    background-size: cover;
}.foto19{
    background-image: url("img/19.jpg");
    background-size: cover;
}.foto20{
    background-image: url("img/20.jpg");
    background-size: cover;
}
.foto21{
    background-image: url("img/21.jpg");
    background-size: cover;
}.foto22{
    background-image: url("img/22.jpg");
    background-size: cover;
}
.foto23{
    background-image: url("img/23.jpg");
    background-size: cover;
}.foto24{
    background-image: url("img/24.jpg");
    background-size: cover;
}


/*PAGINA 4*/

.Row-display-container4 {
    display: flex;
    width: 72%;
    height: -1vw;
    padding-left: 53px;
    padding-top: 89px;
    padding-bottom: 0px;
}
.Files-display-container4 {
    height: 5vw;
    width: 28%;
    display: flex;
    flex-direction: row;
    padding-top: 0px;
    position: fixed;
}
.Files-PG4 {
    color: #BE1D2C;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 39%;
    margin-top: 0px;
    font-weight: normal;
    font-family: Arial;
    padding-top: 29px;
    padding-left: 0px;
    height: 3vw;
}
.Files-arquivo-materiaX {
    color: black;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    margin-top: 0px;
    font-weight: normal;
    font-family: Arial;
    padding-top: 29px;
    padding-left: 6px;
    font-weight: bold;
    height: 3vw;
}
.Row-display-container-img4{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 111vw;
    padding-top: 0px;
    padding-left: 88px;
}
.Columns-display-containerBOSS4 {
    display: flex;
    flex-direction: column;
    width: 188px;
    height: 14vw;
    padding-left: 11px;
    padding-top: 5vw;
}
.Columns-display-container4 {
    display: flex;
    flex-direction: column;
    width: 13vw;
    height: 13vw;
    padding-top: 15px;
    margin-left: 20vw;
    margin-right: 0xp;
}
.Insider-column-divs4 {
    width: 237%;
    height: 15vw;
    background-color: white;
    font-family: Arial;
    font-weight: bold;
    padding-top: 27px;
    line-height: 29px;
    font-size: 22px;
    color: black;
    word-spacing: 1px;
    padding-left: 10px;
}
.Insider-column-divs4-txt {
    width: 100%;
    height: 2vw;
    font-size: medium;
    font-family: Arial;
    font-weight: normal;
    word-spacing: normal;
    line-height: 20px;
    padding-top: 8px;
}

/*PAGINA 5*/

.Row-display-container5 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20vw;
    padding-left: 125px;
    padding-top: 37px;
}
.Columns-display-container5 {
    display: flex;
    flex-direction: column;
    width: 26vw;
    height: 14vw;
    padding-top: 7px;
}
.Insider-column-divs5 {
    width: 104%;
    height: 16vw;
    background-color: white;
    padding-top: 26px;
    padding-left: 26px;
    display: flex;
    flex-direction: column;
}
.Insider-REDES-SOCIAIS {
    width: 34%;
    height: 3vw;
    font-family: Arial;
    font-weight: bold;
    padding-left: 0px;
    font-size: normal;
    word-spacing: 1px;
    font-size: 15px;
    color: #7A7A7A;
    opacity: 0.9;
}
.Insider-caracter5-BOSS{
    display: flex;
    flex-direction: row;
    width: 102%;
    height: 10vw;
}
.Insider-caracter5 {
    font-family: Arial, Helvetica, sans-serif;
    color: #929292;
    width: 50px;
    padding-left: 0px;
    padding-top: 14px;
    height: 38px;
    margin-top: 0vw;
    background-color: #7A7A7A;
    margin-left: 6px;
    opacity: 1;
    border-radius: 12px;
}
.Insider-caracter-access {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 84px;
    padding-top: 10px;
    height: 34px;
    background-color: #BA1D2B;
    margin-left: 7vw;
    color: white;
    font-size: x-small;
    word-spacing: 1px;
    margin-top: 9px;
    padding-left: 15px;
    border-radius: 7px;
    font-size: large;
}
/* IMG */

.bannerartista{
    background-image: url("img/banner-racionais.jpg");
    background-size: cover;
}
.integranteicone{
    background-image: url("img/integrantes.jpg");
    background-size: cover;
}
.historiaicone{
    background-image: url("img/historia.jpg");
    background-size: cover;
}


/*PAGINA 7*/

.Columns-display-containerBOSS7 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 21vw;
    padding-left: 85px;
}
.Row-display-container-img7 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 52vw;
    padding-top: 12px;
}
.Columns-display-container7 {
    display: flex;
    flex-direction: column;
    width: 22vw;
    height: 23vw;
    padding-top: 0px;
    margin-left: 10px;
    margin-right: 0xp;
}
.Insider-column-divs7 {
    width: 100%;
    height: 20vw;
    background-color: #E5E5E5;
    border: none;
    cursor: pointer;
    font-weight: bolder;
    color: #7A7A7A;
    font-size: 23px;
    font-family: Arial;
    font-weight: 900;
}
.Insider-text {
    width: 75%;
    height: 12vw;
    padding-top: 140px;
    font-family: Arial;
    padding-left: 4vw;
    font-weight: bolder;
    color: #7A7A7A;
    font-size: 23px;
}

/*IMG*/

.artista1{
    background-image: url("img/racionais.jpg");
    background-size: cover;
}
.artista2{
    background-image: url("img/rzoh.jpg");
    background-size: cover;
}
.artista3{
    background-image: url("img/tsg.jpg");
    background-size: cover;
}
.artista4{
    background-image: url("img/faccao-central.jpg");
    background-size: cover;
}
.artista5{
    background-image: url("img/criolo.jpg");
    background-size: cover;
}
.artista6{
    background-image: url("img/dexter.jpg");
    background-size: cover;
}
.artista7{
    background-image: url("img/rappinhood.jpg");
    background-size: cover;
}
.artista8{
    background-image: url("img/gog.jpg");
    background-size: cover;
}
/*PAGINA 8*/

.title-container8 {
    display: flex;
    flex-direction: column;
    height: 7vw;
    width: 80vw;
    font-style: normal;
    text-align: center;
    color: black;
    line-height: 24px;
    opacity: 1;
    align-items: center;
    margin-top: 10vw;
}
.News-title {
    height: auto;
    width: 57vw;
    margin-left: 15vw;
    font-size: 30px;
    font-weight: 700;
    font-stretch: condensed;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Select-news {
    height: auto;
    width: 39vw;
    margin-left: 17vw;
    font-family: Arial;
    font-size: 30px;
    font-weight: 700;
    margin-top: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-stretch: condensed;
}
.Column-display-container-img8 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60vw;
    padding-top: 0px;
    padding-left: 0px;
}
.text-container8 {
    display: flex;
    flex-direction: column;
    height: 12vw;
    width: 51vw;
    padding-left: 73px;
    font-style: normal;
    font-family: Arial;
    text-align: center;
    color: #7A7A7A;
    line-height: 22px;
    font-weight: normal;
    margin-top: 0vw;
    margin-left: 17vw;
    font-size: 15px;
}
.img-container8 {
    background-color: #E5E5E5;
    width: 43vw;
    height: 28vw;
    display: flex;
    flex-direction: row;
    margin-left: 26vw;
    margin-bottom: 2vw;
}
.insider-caracter-img{
    width: 100%;
    text-align: center;
    padding-top: 20%;
    opacity: 0.2;
    font-family: Arial;
}
/*img*/
.imagemateria{
    background-image: url("img/Imagem-Matéria.jpg");
    background-size: cover;
}

/*PAGINA 9*/

.scroll-fix-pg9{
    padding: 0;
    margin-top: 0;
    margin-left: 35px;
    margin-right: 200px;
    margin-bottom: 0px;
    height: 61vw
}
.Files-PG9 {
    color: #7A7A7A;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    width: 39%;
    margin-top: 0px;
    font-weight: normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 8vw;
    padding-left: 7vw;
    height: 3vw;
    color:#BE1D2C;
}
.Anosx {
    width: 34%;
    height: 3vw;
    font-family: Helvetica -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    padding-left: 14vw;
    font-size: normal;
    word-spacing: 1px;
    font-size: 21px;
    color: black;
    padding-top: 1vw;
    font-weight: 800;
}
.Row-display-container9 {
    display: flex;
    flex-direction: row;
    width: 97%;
    height: 17vw;
    padding-left: 225px;
}
.Columns-display-container9 {
    display: flex;
    flex-direction: column;
    width: 19%;
    height: 225px;
    margin-left: -15px;
}
.Insider-column-divs9 {
    width: 88%;
    height: 15vw;
    background-color: #E5E5E5;
    border: none;
    cursor: pointer;
}
.Insider-caracter9 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #929292;
    width: 56%;
    height: 0px;
    padding-left: 53px;
    padding-top: 20px;
}
/*imgs*/
.racionaismcs{
    background-image: url("img/racionais-as-melhores.jpg");
    background-size: cover;
}
.presencahiphop{
    background-image: url("img/presenca-hip-hop.jpg");
    background-size: cover;
}
.rapublica{
    background-image: url("img/rapublica.jpg");
    background-size: cover;
}
.sabotando{
    background-image: url("img/sabotando.jpg");
    background-size: cover;
}
.rzo{
    background-image: url("img/rzo.jpg");
    background-size: cover;
}
.rapdubom{
    background-image: url("img/rap-du-bom.jpg");
    background-size: cover;
}
.narua{
    background-image: url("img/na-rua.jpg");
    background-size: cover;
}
.rapostentacao{
    background-image: url("img/rap-ostentacao.jpg");
    background-size: cover;
}
.novaera{
    background-image: url("img/nova-era.jpg");
    background-size: cover;
}
.boombap{
    background-image: url("img/boom-bap.jpg");
    background-size: cover;
}
.radiohiphop{
    background-image: url("img/radio-hip-hop.jpg");
    background-size: cover;
}
.somdequebra{
    background-image: url("img/som-de-quebrada.jpg");
    background-size: cover;
}


/*PAGINA 10*/

.overflow-fix-pg10{
    padding: 0;
    margin-top: 0;
    margin-left: 35px;
    margin-right: 200px;
    margin-bottom: 0px;
    overflow: hidden;
}
.Row-display-container-img10 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30vw;
    padding-top: 0px;
    padding-left: 88px;
    margin-top: 5vw;
}
.text-container10 {
    display: flex;
    flex-direction: row;
    height: 10vw;
    width: 48vw;
    padding-left: 21vw;
    font-style: normal;
    font-family: Arial;
    text-align: center;
    color: #7A7A7A;
    line-height: 24px;
    opacity: 0.9;
    font-weight: normal;
}
.About10 {
    color: black;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 3vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 30px;
    padding-left: 87px;
    margin-bottom: 41px;
    font-weight: normal;
    font-size: normal;
}
.text-font-clausula {
    color: #BE1D2C;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: fit-content;
    width: fit-content;
    font-weight: normal;
    margin-left: 32vw;
    font-size: small;
    margin-top: 7vw;
}
.text-container10-2 {
    color: #7A7A7A;
    font-family: Arial, Helvetica, sans-serif;
    height: fit-content;
    width: fit-content;
    align-items: center;
    font-weight: normal;
    font-size: x-small;
    opacity: 0.8;
    margin-left: 25vw;
    text-align: center;
    line-height: 15px;
}
.Footer-container10 {
    padding-left: 0px;
    display: flex;
    padding-top: 0px;
    flex-direction: row;
    width: 113%;
    height: 6vw;
    background-color: black;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

/*PAGINA 11*/

.overflow-fix-pg11 {
    padding: 0;
    margin-top: 0;
    margin-left: 35px;
    margin-right: 200px;
    margin-bottom: 0px;
    height: 58vw;
    overflow: hidden;
}
.About11 {
    color: black;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 30px;
    padding-left: 87px;
    margin-bottom: 26px;
    font-weight: normal;
    font-size: normal;
}
.field-contact11 {
    width: 50%;
    height: 33vw;
    padding-top: 0px;
    padding-left: 27vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 36px;
}
.field-contact-container11 {
    width: 101%;
    height: 53px;
    padding-left: 12px;
    background-color: #E5E5E5;
    margin-top: 12px;
    border:none;
    border: none;
    font-family: Arial;
    color: #7A7A7A;
    font-style: italic;
    font-weight: normal;
    opacity: 0.8;
}
.insider-field11 {
    width: 200px;
    height: 2vw;
    padding-top: 17px;
    padding-right: 154px;
    font-size: normal;
    font-family: Arial;
    color: #7A7A7A;
    font-style: italic;
    font-weight: normal;
    opacity: 0.8;
}
.type-message11 {
    width: 116%;
    height: 11vw;
    margin-top: 12px;
    border-color: black;
    border-width: 1px;
    border-style: none;
}
.insider-type-message11 {
    width: 85%;
    height: 89%;
    padding-top: 10px;
    padding-left: 13px;
    font-size: normal;
    font-family: Arial;
    color: #7A7A7A;
    font-style: italic;
    font-weight: normal;
    opacity: 0.8;
    padding-right: 13px;
}
.Send-container11 {
    width: 21%;
    height: 4vw;
    padding-left: 38vw;
    margin-top: 9px;
}
.send11 {
    width: 61%;
    height: 3vw;
    background-color: #BE1D2C;
    border-radius: 5px;
}
.insider-send11 {
    font-family: Arial;
    width: 100%;
    color: white;
    height: 100%;
    padding-left: 16px;
    padding-top: 16px;
    font-size: smaller;
}
.Footer-container11 {
    padding-left: 0px;
    display: flex;
    padding-top: 0px;
    flex-direction: row;
    width: 113%;
    height: 6vw;
    background-color:black;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
